$color60: beige;
$color30: hsl(201, 57%, 43%);
$color10: hsl(358, 71%, 49%);
$colorNero: adjust-color($color30, $lightness: -28%);
$tipado : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


body {
  background-color: $color60;
  margin: 0;
  color: $colorNero;
  font-family: $tipado;
}

img{
  max-width: 90vw; 
  display:block; 
  margin:auto;
}

header {
  background-color: $color30;
  margin: 0;
  text-align: center;
  padding: 1ex 0;

  nav {
    padding: 5px 0;
    background-color: hsl(
      hue($color30),
      saturation($color30),
      lightness($color30)-4
    );
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;

    li {
      display: flex;
      list-style: none;
      width: 15vw;
      min-width: 80px;
      min-height: 30px;
      align-items: center;

      a {
        min-width: 100%;
        padding: 10px 0;
        border-radius: 0.5rem;
        text-decoration: none;
        color: $colorNero;
        background-color: $color10;
      }

      button {
        min-width: 100%;
        padding: 11px 3px;
        border: 0;
        border-radius: 0.5rem;
        text-decoration: none;
        // color: azure;
        background-color: $color10;
      }
    }
  }
}

.logo  {
  text-decoration-line: none;
  color: $colorNero;

  @keyframes link_logo {
    from {color: $colorNero;}
    to {color: $color10;} 
  }
   
  &:hover{
    animation: {
      name: link_logo;
      duration: 1s;
      fill-mode: forwards;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  h2{
    text-align: center;
  }

  li {
    margin: 5px 0;
  }
}

.contenido{
  width: 100%;
}

@mixin navLaterales($aparicionHacia: "derecha") {
  display: none;
  position: absolute;
  width: 90vw;
  height: 50rem;
  left: 5%;
  background-color: $color60;
}

.temario{
  @include navLaterales();
}

.diccionario{
  @include navLaterales($aparicionHacia: "izq");
}

footer{
  min-height: 5rem;
  background-color: $colorNero;
}